<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jobs Beka</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body> 
        <div class="app"> 
            <div class="server"> 
                <div class="server--name"> 
                    <h1>JOBS</h1> 
                </div>
                <div class="server--seperator">                    
                </div>
                <div class="search"> 
                    <input type="text" placeholder="Search..."> 
                </div>  
                <div class="server--seperator">                    
                </div> 
                <button class="server--icon"> 
                    <span>Bakery</span> 
                </button> 
                <button class="server--icon"> 
                    <span>Carpentry</span>  
                </button> 
                <button class="server--icon"> 
                    <span>Sales Man</span> 
                </button>  
                <div class="server--seperator">                    
                </div> 
                <button class="server--icon"> 
                    <span>Chat Bot</span> 
                </button> 
            </div> 
            <div class="chat"> 
                <nav> 
                    <div class="header"> 
                        <span>#</span> 
                        <h2>general</h2>                           
                    </div>
                    <div class="add--job">
                        <button>
                            <span class="add--job">Add Jobs here!</span>
                        </button>
                    </div> 
                </nav>

                <div class="chat--inner"> 
                    <div class="messages"> 
                        <div class="messages--received">                            
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </body>
</html>